Package: dev.traurige.batterybuddy
Name: BatteryBuddy
Depends: firmware (>= 13.0), mobilesubstrate, preferenceloader
Conflicts: love.litten.batterybuddy
Version: 1.3.3
Architecture: iphoneos-arm
Description: Battery indicator, but cute
Maintainer: Traurige <hello@traurige.dev>
Author: Traurige & neilsardesai <hello@traurige.dev>
Section: Tweaks
