Package: love.litten.batterybuddy
Name: BatteryBuddy ⚡️
Depends: ${ORION}, firmware (>= 13)
Version: 1.0
Architecture: iphoneos-arm
Description: Battery indicator, but cute
Maintainer: Litten
Author: Litten
Section: Tweaks
Depiction: https://repo.litten.love/depictions/bdy/index.html
SileoDepiction: https://repo.litten.love/depictions/bdy/bdy.json
Icon: https://repo.litten.love/depictions/bdy/assets/icon.png
