<?xml version="1" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1//EN" "http://www.apple.com/DTDs/PropertyList-1.dtd">
<plist version="1">
<dict>
	<key>items</key>
	<array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Original Creator For macOS</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>@neilsardesai</string>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Neil Sardesai</string>
            <key>user</key>
            <string>neilsardesai</string>
        </dict>
	</array>
	<key>title</key>
	<string>BatteryBuddy</string>
</dict>
</plist>
